@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.content__wrapper .content .header .header__title {
  font-family: var(--main-ff);
  font-size: var(--h1-fz);
  font-weight: 600;
  color: #3F3F3F;
}

.content__wrapper .content .header .header__filter, .content__wrapper .content .main .sidebar .sidebar__button, .content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input {
  font-family: var(--main-ff);
  font-size: var(--placeholder-fz);
  font-weight: 400;
  color: #B4B4B4;
  line-height: 0.9375rem;
}

.content__wrapper .content .header .header__filter .filter__menu, .content__wrapper .content .header .header__filter {
  background-color: #FFFEFB;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input__invalid {
  font-family: var(--main-ff);
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 0.625rem;
  letter-spacing: -0.02em;
  color: #FF8484;
}

.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input__title {
  font-family: var(--main-ff);
  font-size: var(--h4-fz);
  font-weight: 400;
  color: #49485E;
  line-height: 0.8125;
  letter-spacing: -0.02em;
}

.content__wrapper .content .main .sidebar .sidebar__button {
  font-family: "Inter", sans-serif;
  font-size: 600;
  text-align: center;
  letter-spacing: -0.02em;
}

.content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper .product__title, .content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper .product__price, .content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper .product__subtitle {
  font-family: var(--main-ff);
  font-weight: 600;
  font-size: var(--h2-fz);
  line-height: 1.5625rem;
  color: #3F3F3F;
}

.content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper .product__subtitle {
  font-weight: 400;
  font-size: var(--h3-fz);
  line-height: 1.25rem;
}

.content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper .product__price {
  font-size: var(--price-fx);
  line-height: 1.875rem;
}

@media (max-width: 1088px) {
  html {
    font-size: 15px !important;
  }
}
@media (max-width: 335px) {
  .header__title {
    font-size: 15px !important;
  }

  .product__wrapper:hover {
    top: 0 !important;
  }

  .product__remove {
    right: -5px !important;
  }
}
@media (max-width: 712px) {
  .product__wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 833px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sidebar {
    margin-right: 0 !important;
    margin: 0 auto !important;
    margin-bottom: 3% !important;
  }
}
:root {
  --min-width: 305px;
  --max-width: 1440px;
  --h1-fz: 1.75rem;
  --price-fx: 1.5rem;
  --h2-fz: 1.25rem;
  --h3-fz: 1rem;
  --placeholder-fz: 0.75rem;
  --h4-fz: 0.625rem;
  --main-ff: "Source Sans Pro", sans-serif;
  --sub-ff: "Inter", sans-serif;
  --main-bgc: #FFFEFB;
  --main-transition: .3s;
  --button-inactive-color: #eee;
  --button-active-color: #7BAE73;
  --product-image-bgc: #ddd;
}

body {
  background-color: var(--main-bgc);
}

.content__wrapper {
  display: block;
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  height: auto;
  background-color: var(--main-bgc);
}
.content__wrapper .content {
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--main-bgc);
}
.content__wrapper .content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
}
.content__wrapper .content .header .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__wrapper .content .header .header__filter {
  display: block;
  width: 121.49px;
  height: 36px;
  position: relative;
}
.content__wrapper .content .header .header__filter .filter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  color: inherit;
}
.content__wrapper .content .header .header__filter .filter__title .filter__arrow {
  display: block;
  width: 4.59px;
  height: 4.59px;
  border: solid #B4B4B4;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}
.content__wrapper .content .header .header__filter .filter__title:hover {
  color: #000;
}
.content__wrapper .content .header .header__filter .filter__title:hover .filter__arrow {
  border-color: #000;
}
.content__wrapper .content .header .header__filter .filter__element_padding {
  padding: 11px 12px 10px 12px;
}
.content__wrapper .content .header .header__filter .filter__menu {
  opacity: 0;
  position: absolute;
  top: -100vh;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  z-index: 1;
  text-align: center;
}
.content__wrapper .content .header .header__filter .filter__menu li {
  display: block;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  color: inherit;
}
.content__wrapper .content .header .header__filter .filter__menu li:hover {
  cursor: pointer;
  color: #000;
}
.content__wrapper .content .header .header__filter:hover .filter__menu {
  top: 100%;
  opacity: 1;
}
.content__wrapper .content .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}
.content__wrapper .content .main .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-width: 161px;
  max-width: 332px;
  height: 1%;
  background-color: #FFFEFB;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input__title {
  display: block;
  width: auto;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input__textarea {
  height: 108px;
  resize: none;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input__title span:nth-child(2) {
  color: #FF8484;
  border-radius: 4px;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input__title_margin-bottom {
  margin-bottom: 4px;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input {
  display: block;
  width: 100%;
  background-color: #FFFEFB;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input::-webkit-input-placeholder {
  color: #B4B4B4;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input::-moz-placeholder {
  color: #B4B4B4;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:-ms-input-placeholder {
  color: #B4B4B4;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input::-ms-input-placeholder {
  color: #B4B4B4;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input::placeholder {
  color: #B4B4B4;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:focus {
  border-color: var(--button-active-color);
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input__invalid {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:not(:-moz-placeholder-shown) {
  -moz-transition: none;
  transition: none;
  color: #3F3F3F;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:not(:-ms-input-placeholder) {
  -ms-transition: none;
  transition: none;
  color: #3F3F3F;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:not(:placeholder-shown) {
  -webkit-transition: none;
  transition: none;
  color: #3F3F3F;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:invalid:not(:-moz-placeholder-shown) {
  border: 1px solid #FF8484;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:invalid:not(:-ms-input-placeholder) {
  border: 1px solid #FF8484;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:invalid:not(:placeholder-shown) {
  border: 1px solid #FF8484;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:invalid:not(:-moz-placeholder-shown) ~ .sidebar__input__invalid {
  opacity: 1;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:invalid:not(:-ms-input-placeholder) ~ .sidebar__input__invalid {
  opacity: 1;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input:invalid:not(:placeholder-shown) ~ .sidebar__input__invalid {
  opacity: 1;
}
.content__wrapper .content .main .sidebar .sidebar__input__wrapper .sidebar__input_padding {
  padding: 10px 16px 11px 10px;
}
.content__wrapper .content .main .sidebar .sidebar__button {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}
.content__wrapper .content .main .sidebar .sidebar__button_margin {
  margin-top: min(8.455%, 24px);
  margin-bottom: min(8.455%, 24px);
}
.content__wrapper .content .main .sidebar .sidebar__button_inactive {
  background-color: var(--button-inactive-color);
}
.content__wrapper .content .main .sidebar .sidebar__button_active {
  background-color: var(--button-active-color);
  color: #fff;
}
.content__wrapper .content .main .sidebar .sidebar__button_padding {
  padding: 10px 16px 10px 16px;
}
.content__wrapper .content .main .sidebar__input__wrapper:nth-child(2) .sidebar__input__title span:nth-child(2) {
  display: none;
}
.content__wrapper .content .main .sidebar__input__wrapper:nth-child(2) .sidebar__input__invalid {
  display: none;
}
.content__wrapper .content .main .sidebar__input__wrapper_margin {
  margin-top: 16px;
}
.content__wrapper .content .main .sidebar__input__wrapper_margin:first-child {
  margin-top: 0;
}
.content__wrapper .content .main .sidebar_padding {
  padding: min(1.76%, 24px);
  padding-bottom: 0;
}
.content__wrapper .content .main .sidebar_margin-right {
  margin-right: 16px;
}
.content__wrapper .content .main .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1028px;
  height: auto;
}
.content__wrapper .content .main .products .product__wrapper {
  display: block;
  width: 100%;
  min-width: 250px;
  max-width: 332px;
  height: 423px;
  background-color: #FFFEFB;
  -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  position: relative;
  top: 0;
  left: 0;
}
.content__wrapper .content .main .products .product__wrapper .product__remove {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
  background-image: url("../img/product/delete-img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 1rem;
  background-color: #FF8484;
}
.content__wrapper .content .main .products .product__wrapper .product__remove:hover {
  cursor: pointer;
  background-color: #ff6b6b;
}
.content__wrapper .content .main .products .product__wrapper .product__image {
  display: block;
  width: 100%;
  height: 47.285%;
  border-radius: 4px;
  background-image: url("https://icdn.digitaltrends.com/image/digitaltrends/gopro-hero9-black-review-dm-6-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  background-color: var(--product-image-bgc);
}
.content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: calc(100% - 47.285%);
}
.content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper .product__subtitle_margin {
  margin-top: min(5.5%, 16px);
  margin-bottom: min(10.7%, 32px);
}
.content__wrapper .content .main .products .product__wrapper .product__non-image__wrapper_padding {
  padding: min(5%, 16px);
  padding-bottom: min(7.5%, 24px);
}
.content__wrapper .content .main .products .product__wrapper:hover {
  cursor: pointer;
  background-color: var(--product-image-bgc);
  top: 5px;
  left: 0;
}
.content__wrapper .content .main .products .product__wrapper_margin {
  margin-bottom: 16px;
}
.content__wrapper .content .main_margin {
  margin-top: 16px;
}
.content__wrapper .content_padding {
  padding: calc(10px + 22*(100% - 320px)/(1440 - 320));
  padding-bottom: 0;
}

.content__wrapper_margin {
  margin: 0 auto;
}