@media (max-width: 1088px) {
    html {
        font-size: 15px !important;
    }
}

@media (max-width: 320px) {
    .header__title {
        font-size: 17px !important;
    }
}

@media (max-width: 425px) {
    .filter__title {
        font-size: 11px !important;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .header__title {
        font-size: 20px !important;
    }

    .product__wrapper:hover {
        top: 0 !important;
    }

    .product__remove {
        right: -5px !important;
    }
}

@media (max-width: 712px) {
    .product__wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 833px) {
    .main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .sidebar {
        margin-right: 0 !important;
        margin: 0 auto !important;

        margin-bottom: 3% !important;
    }
}