@mixin backgroud-img($url, $size, $color: transparent, $position: center, $repeat: no-repeat) {
    background-image: $url;
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
    background-color: $color;
}