// Title
%title-font {
    font-family: var(--main-ff);
    font-size: var(--h1-fz);
    font-weight: 600;
    color: #3F3F3F;
}

// Filter
%filter-font {
    font-family: var(--main-ff);
    font-size: var(--placeholder-fz);
    font-weight: 400;
    color: #B4B4B4;
    line-height: 0.9375rem; // 15px
}

%filter-style {
    background-color: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

// Form
%sidebar-input-invalid-font {
    font-family: var(--main-ff);
    font-weight: 400;
    font-size: 0.5rem; // 8px
    line-height: 0.625rem; // 10px
    letter-spacing: -0.02em;
    color: #FF8484;
}

%filter-title-font {
    font-family: var(--main-ff);
    font-size: var(--h4-fz);
    font-weight: 400;
    color: #49485E;
    line-height: 0.8125; // 13px
    letter-spacing: -0.02em;
}

%filter-input-font {
    @extend %filter-font;
}

%filter-button-font {
    @extend %filter-font;

    font-family: 'Inter', sans-serif;
    font-size: 600;
    text-align: center;
    letter-spacing: -0.02em;
}

// Product
%product-title-font {
    font-family: var(--main-ff);
    font-weight: 600;
    font-size: var(--h2-fz);
    line-height: 1.5625rem; // 25px
    color: #3F3F3F;
}

%product-description-font {
    @extend %product-title-font;

    font-weight: 400;
    font-size: var(--h3-fz);
    line-height: 1.25rem; // 20px
}

%product-price-font {
    @extend %product-title-font;

    font-size: var(--price-fx); // 24px
    line-height: 1.875rem; // 30px
}